<h1>Productos</h1>

<h2>Listado de videojuegos</h2>

{{#if hayProductos}}
<form id="formFiltro">
    {{#if noHayFiltro}}
    <h3>Filtrar por CATEGORIA</h3>
    <select name="campo" id="selectCategoria" onchange="location = this.value;">
        <option value="">-----</option>
        <option value="productos?limit={{limit}}&page=1&categoria=Tecnologia">Tecnologia</option>
        <option value="productos?limit={{limit}}&page=1&categoria=Alimentos">Alimentos</option>
        <option value="productos?limit={{limit}}&page=1&categoria=Deportes">Deportes</option>
        <option value="productos?limit={{limit}}&page=1&categoria=Otros">Otros</option>
    </select>
    {{/if}}
    
    
    
</form>
{{/if}}

<div id="listado">
    {{#if hayProductos}}
    {{#if hayFiltro}}
    <h4>{{categoria}}</h4>
    <button>
        <a href="productos">
        Borrar Filtros
        </a>
    </button>
    {{/if}}

    <ul>
        {{#each productos}}
        <li> Nombre: {{this.nombre}} || Descripcion: {{this.descripcion}} || Categoria: {{this.categoria}} </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No hay productos</p>
    {{/if}}
</div>


{{#if page}}
<div>
    <a {{#if hasPrevPage}} href="?limit={{limit}}&page={{prevPage}}&categoria={{categoria}}" {{/if}}>Prev</a>
    [{{ page }}]
    <a {{#if hasNextPage}} href="?limit={{limit}}&page={{nextPage}}&categoria={{categoria}}" {{/if}}>Next</a><br>
    <p>{{totalDocs}} productos encontrados</p>
</div>
{{/if}}

<h2>Agregar productos</h2>
<form id="formCargarProd">
    <label for="inputNombre">Nombre</label> <input name="nombre" type="text" id="inputNombre" placeholder="Nombre">
    <label for="inputDescripcion">Descripcion</label> <input type="text" name="descripcion" id="inputDescripcion"
        placeholder="Descripcion">
    <label for="selectCategoria">Categoria</label>
    <select name="categoria" id="selectCategoria">
        <option value="Tecnologia">Tecnologia</option>
        <option value="Alimentos">Alimentos</option>
        <option value="Deportes">Deportes</option>
        <option value="Otros">Otros</option>
    </select>
    <button type="submit" id="btnGuardarProducto">Guardar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/cargaProductos.js"></script>